* {
    margin: 0 auto;
    font-family: 'Play', sans-serif;
    padding: 0;
    
}

body, html {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    display: block;
    background-image: url(./pic/light_texture.jpeg) ;
  }

  header {
    width: 100%;
    background-image: url(./pic/tech_back.jpeg);
    background-size: cover;
    float: left;
    position: fixed;
    top: 0;
    background-color: rgb(174, 172, 252);
    opacity: calc(0.9);
  }
  header img {
    width: 150px;
  } 

  #navigate {
    font-size: 15pt;
    text-align: right;
    margin-right: 25px;
    list-style-type: none;
    display: flex;
    align-items: flex-end;
    margin-top: 25px;
  }

  #navigate a {
    text-decoration: none;
    color: white;
    padding: 30px 10px 2px 10px;
  }

  #navigate a:hover {
    background-color: #291d40;
    padding: 30px 10px 2px 10px;
  }

  #about {
   text-align: right;
  } 

  #Ex {
    text-align: left;
   } 

   #Ed {
    text-align: right;
   } 

   #Interests_block {
    text-align: left;
    margin-left: 0px;
    margin-right: 0px;

   }


  .MyPhoto {
    width: 250px;
    padding: 10px;
    border-style: double;
  }

  .MyLinks img {
   width: 15%;
   padding: 10px;
  }

  .MyLinks {
    padding: 50px;
   }

  h1 {
    font-size: 30pt;
  }

  .photoEx {
    width: 300px;
    height: 30%;
    padding: 10px;
    border-style: double;
  }

  .textEx img {
   width: 15%;
  }

  .textEx {
    padding: 50px;
   }
 
   .photoEd {
    width: 300px;
    height: 30%;
    padding: 10px;
    border-style: double;
  }

   .textEd {
     padding: 50px;
    }
 
    .photoInter {
      width: 500px;
      height: 30%;
      padding: 10px;
      border-style: double;
      margin-left: 142px;
    }

    .textInter {
      padding: 50px;
     }


  .main_content {
    width: 65%;
    flex-direction:column;
    border: 5px solid;
    border-color: hsl(0, 0%, 73%);
    border-style: outset;
    margin-top: 65px;
    background-color: rgb(173, 173, 173);
  }

  footer {
      width: 100%;
      float: left;
      top: 0;
      background-color: rgb(62, 60, 111);
  }

  .tel{
    display: flex;
  }
footer li {
  color: black;
  font-size: 20px;
  list-style-type: none;
}