h1 {
position:absolute;
left:-10000px;
top:auto;
width:1px;
height:1px;
overflow:hidden;
}

#content {
    display: flex;
}

#header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}

#header p{
    font-size: 35pt;
    font-style: italic;
}

#content-side a {
 color: goldenrod;
 text-decoration: none;
font-size: 20pt;
}

#content-side {
    width: 40%;
    margin-left: 100px;
}

#content-main a {
color: goldenrod;
 text-decoration: none;
font-size: 15pt;
}

#content-main {
    width: 65%;
    padding-right: 80px;
}